/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline; 
  }
  input {
    outline: none;
    border:1px solid rgb(167, 167, 167);
    background-image:none;
    background-color:white;
    padding: 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;  
    
}
  /* HTML5 display-role reset for older browsers */
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  
  body {
    line-height: 1; 
    font-family: 'PT Sans', sans-serif;;
  }
  
  ol, ul {
    list-style: none; }
  
  blockquote, q {
    quotes: none; }
  
  blockquote {
    &:before, &:after {
      content: '';
      content: none; } }
  
  q {
    &:before, &:after {
      content: '';
      content: none; } }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }
  .row{
    width: 100%;
    margin: 0;
  }
  img.cloud_below{
    width: 10%;
  }
  .col-lg-6{
    padding: 0;
  }
  .col-lg-3{
    padding: 0;
  }
  //active menu
  .active_menu{
    opacity: 0;
    transform: translateY(5px);
    transition: 0.4s;
  }
// end reset css

// Define color
$colorWhite:white;
$colorRed:#FC4349;
$colorBlue: #1D73BE;
//  define position absolute 
@mixin pos_a($top,$left){
  position: absolute;
  top:$top;
  left : $left;
}
@mixin job_button($color){
  margin-top: 10px;
  display: inline-block;
  text-transform: uppercase;
  padding: 10px;
  background:$color;
  text-decoration: none;
  color: $colorWhite;
}
//define job_button
.wrap_content{
  max-width: 1075px;
  margin: auto;
  height: 100%;
  padding: 0 5px;
}
.slick-prev:before{
  content: '\f053'!important;
  font-family: "Font Awesome 5 Pro"!important;
  position: absolute;
  padding: 5px 10px;
  left: -65%;
  border: 1px solid white;
  border-radius: 50%;
}
.slick-next:before{
  content: '\f054'!important;
  font-family: "Font Awesome 5 Pro"!important;
  position: absolute;
  padding: 5px 10px;
  left: 0;
  border: 1px solid white;
  border-radius: 50%;
}
#header{
  height: 80px;
  background: $colorWhite;
  .logo{
    width: 10em;
    height: auto;
    img{
      width: 100%;
    }
  }
  // menu 
  .menu{
    margin-right: 30px;
    ul{
       li:hover ul.sub_menu{
          opacity: 1;
          transform: translateY(0px);
       }
    }
    >ul{ 
        display: flex;
        justify-content: start;
    
      >li{
        position: relative;
        >ul.sub_menu{
          z-index: 1;
          @include pos_a(230%,0);
          width: 190px;
          background: #1F1F1F;
          opacity: 0;
          transform: translateY(20px);
          transition: 0.3s;
          li{
            a{
              font-size: 14px;
              padding:15px 10px;
              color: gray;
              display: block;
              text-decoration: none;
            }
          }
          li:hover a{
            color: $colorWhite;
          }
        }
       
        >a{
          padding: 20px;
          color: #6b7986;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
        }
        
      }
    }
  }
  // end menu
  .sign{
    a{
      padding: 7px;
      text-decoration: none;
      background: $colorRed;
      font-size: 14px;
      color: white;
    }
  }
}
// end header
#banner{
  background-image:url('../imgs/banner.png');
  height: 697px;
  width: 100%;
  .banner_content{
    padding-top:15%;
    text-align: center;
    h1{
      padding-bottom: 10px;
      color: $colorWhite;
      font-weight: 700;
    }
    .banner_des{
      color: $colorWhite;
      font-size: 18px;
    }
  }
  // end content banner
  .filter{
    margin-top: 4%;
    .col_1,.col_2,.col_3{
      width: 29%;
      padding-right: 1%;
      input,select{
        padding: 10px;
        border-radius: 0;
      }
    }
    .col_1{
      position: relative;
      input{
        padding-left: 12%;
      }
    }
    .col_1::before{
      font-family: "Font Awesome 5 Pro"; font-weight: 900; content: "\f002";
      position: absolute;
      top: 34%;
      left: 3%;
      color: gray;
    }
    .col_3{
      position: relative;
    }
    .col_3::after{
      font-family: "Font Awesome 5 Pro"; font-weight: 900; content: "\f601";
      position: absolute;
      top: 34%;
      right: 8%;
      color: gray;
    }
  .btn_find_job{
    padding: 15px 20px;
    display: block;
    background-color: $colorRed;
    color: white;
    text-decoration: none;
    width: 13%;
    text-align: center;
  }
  }
  // end filter
}
.filter{
  background: #59A8C6;
  padding: 32px 24px;
}
// end banner
#job_categories{
  padding-top: 5%;

  .col_1,.col_2,.col_3{
    height: 177px;
    padding: 20px 25px;
    width: 32%;
    margin-right: 2%;
    overflow: hidden;
    .content_job{
      width: 70%;
      color: $colorWhite;
      h3{
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 8px;
      }
      p{
        line-height: 23px;
      }
    }
  }
  .col_1{
    background-image: url('../imgs/cat_1.jpg');
    a{
      @include job_button(#569fba)
    }
  }
  // end col 1
  .col_2{
    background-image: url('../imgs/cat_2.jpg');
    a{
      @include job_button(#464741)
    }
  }
  // end col 2
  .col_3{
    background-image: url('../imgs/cat_3.jpg');
    margin-right: 0;
    background-size: 100% 100%;
    a{
      @include job_button(#A13F96)
    }
  }
  //title content
  .title_content{
    text-align: center;
    margin-top: 102px;
    .title_job{
      margin-bottom: 10px;
      font-weight: 600;
    }
    p{
      margin-top: 7px;
      font-size: 13;
    }
  }
  // end title content
  .list_job{
    margin: 27px 0;
    .row{
      margin-bottom: 10px;
      .one_job{
        padding-right: 20px;
        padding-bottom: 20px;
        .one_job_content{
          border: 1px solid rgb(212, 212, 212);
          padding: 5px;
        }
        
        .left{
          width: 30%;
          overflow: hidden;
        }
        .right{
          a{
            display: block;
            padding-bottom: 10px;
            text-decoration: none;
          }
          a.cat_title{
            font-weight: bold;
            font-size: 15px;
            margin-top: 5px;
            color: black;
          }
          a.job_title{
            color: gray;
            i{
              padding: 2px 3px;
            }
          }
        }
      }
      .one_job:nth-last-child(4n +1 ){
        padding-right: 0;
      }
      // end one job
      .view_all_jobs{
        a{
          background: $colorRed;
          border:none;
          margin-bottom: 100px;
        }
      }
    }
  }
}
#feature{
  .wrap_content{
    padding: 0;
  }
  background:$colorBlue;
  height: 580px;
  width: 100%;
  h3.feature_title{
    padding: 80px 0 20px 0;
    font-weight: 600;
    color: white;
  }

 
.feature_one{
    // margin: 0 10px;
    /* the slides */
    margin: 0 5px;
    position: relative;
    background: $colorWhite;
    .img_thumb{
      width: 100%;
      height: 186px;
      overflow: hidden;
      img{
       width: 100%;
       height: auto;
      }
    }
    h4{
      padding: 35px 45px 30px 47px;
      font-size: 15px;
      font-weight: 600;
      
      a{
        text-decoration: none;
        color: black;
      }
    }
    .info_job{
      width: 100%;
      padding: 20px;
      border-top: 1px solid rgb(211, 211, 211);
      .right{
        a{
          color:$colorRed
        }
      }
    }
  }
  .feature_one::before{
    font-family: "Font Awesome 5 Pro";  content: "\f005";
    color: $colorRed;
    position: absolute;
    top: 5%;
    left: 5%;
  }
  .row{
    margin-top: 25px;
    
  }
}
// end feature
#feed{
  .left{
    padding-right: 15px;
  }
  .right{
    padding-left: 15px;
    iframe{
      width: 100%;
    }
  }
  background: $colorWhite;
  padding: 105px 0 75px 0;
  h3{
   font-weight: 600;
   padding-bottom:20px;
  }
  img.cloud_below{
    width: 20%;
    
  }
  .feed_content{
    p{
      line-height: 30px;
      margin-top: 20px;
    }
  }
 
  .watch_video{
    margin-top: 20px;
    display: inline-block;
    padding-right: 10px;
    background: $colorRed;
    color: white;
    text-decoration: none;
    i{
      background: #d13f3f;
      padding: 10px;
    }
  }
  // end we are work
  .lastest_news{
    padding-top: 15px;
    img{
      width: 10%;
    }
  }
  .news{
    .col-lg-6{
      padding-right: 30px;
    }
    .col-lg-6:nth-child(2n){
      padding-right: 0;
    }
  // end las news
    .content_news{
      border: 1px solid rgb(211, 211, 211);
      margin-top: 30px;
      .img_thumb{
        width: 100%;
        height: auto;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .main_content_news{
        padding: 15px 20px;
        .header_news{
          .comment_number{
            position: relative;
            color: $colorRed;
          }
          .comment_number::after{
            font-family: "Font Awesome 5 Pro";  content: "\f27a";
            color: rgb(204, 204, 204);
            position: absolute;
            font-size: 28px;
            top: -14%;
            left: -93%;
          }
        }
      
        a.user{
          font-size: 15px;
          text-decoration: none;
          color: rgb(37, 37, 37);
        }
        p{
          font-size: 15px;
          line-height: 21px;
          margin-top: 10px;
        }
        h4{
          a{
            display: inline-block;
            margin-top: 10px;
            font-size: 18px;
            font-weight: bold;
            color: black;
            text-decoration: none;
          }
        }
        .list_info{
          .list_info_left{
            a{
              font-size: 21px;
              margin-right: 5px;
              padding-top: 12px;
              display: inline-block;
              i.tt_icon{
                color: #1C9CEA;
              }
              i.gg_icon{
                color:#D64937;
              }
            }
          }
        }
      }
      //  end main content news
    }
    // end content news
  }
  // end new
}
// end feed
#employment{
  padding-top: 8%;
  height: 420px;
  width: 100%;
  background-image: url('../imgs/employment.gif');
  h3{
    font-weight: 600;
    color: $colorWhite;
  }
  img{
    width: 10%;
    padding: 20px 0;
  }
  .col-3{
    position: relative;
  }
  .col-3:nth-child(4)::after{
    display: none;
  }
  .col-3::after{
    content: '';
    width: 1px;
    height: 80%;
    background: rgb(236, 236, 236);
    position: absolute;
    right: 0;
    top: 0;
  }
  p.number_title{
    font-size: 40px;
    color: $colorRed;
    padding-bottom: 10px;
  }
  p.des_number{
    color: $colorWhite;
    font-size: 14px;
  }
}
// end employment
#we_work{
  padding-top: 80px;
  height: 422px;
  .wrap_title{
    img{
      width: 10%;
      padding: 20px 0;
    }
  }
  a{
    display: inline-block;
    width: 140px;
    height: 70px;
    margin: 17px;
    overflow: hidden;
    img{
      width: 100%;
      height: auto;
    }
  }
}
// end we work
#footer{
  .footer_above{
    padding-bottom: 35px;
    border-bottom: 1px solid rgb(126, 126, 126);
  }
  height: auto;
  width: 100%;
  padding: 50px 0;
  background:#2d3e50;
  img{
    padding-bottom: 20px;
  }
  .info{
    p{
      line-height:30px;
      color: rgb(179, 179, 179);
    }
    ul.list_social{
      padding-top: 35px;
      li{
        display: inline-block;
        a{
          color: $colorRed;
          padding: 9px 12px;
          border: 1px solid $colorRed;
          border-radius: 50%;
          margin-right: 5px;
        }
      }
    }
  }
  // end col 1
  .question{
    p.title{
      font-size:20px;
      color: $colorWhite;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    ul.list_question{
      li{
        line-height: 30px;
        a{
          font-size: 15px;
          color: rgb(179, 179, 179);
          text-decoration: none;
          i{
            font-size: 12px;
            padding-right: 4px;
          }
        }
      }
    }
  }
  // end col 2
  .contact{
    p.title{
      font-size:20px;
      color: $colorWhite;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .new_p{
      line-height: 30px;
      color: rgb(179, 179, 179);
    }
    .email_contact{
      margin-top: 25px;
      input{
        width: 80%;
      }
      button{
        width: 20%;
        border: none;
        background: none;
        i{
          padding: 15px 18px;
          background: $colorRed;
          border-radius: 50%;
        }
      }
    }
  }
  // end footer above
  .frequently_question{
    padding: 33px;
    ul{
      li{
        display: inline-block;
        a{
          color: #626b72;
          text-decoration: none;
        }
      }
    }
   
  }
  .line-hozi{
    width: 40%;
    height: 1px;
    background: #626b72;
    display: block;
    margin:auto;
    position: relative;
  }
  .line-hozi::after{
    font-family: "Font Awesome 5 Pro";  content: "\f2ec";
    color: black;
    font-size: 12px;
    position: absolute;
    bottom: -13px;
    left: 50%;
    padding: 5px;
    background:$colorRed;
    border-radius: 50%;
  }
  // end frequently question
  p.copyright{
    margin-top: 30px;
    color: #626b72;
  }
}
// responsive 

// mobile 
@media (max-width: 575.98px) {
  .wrap_content{
    padding: 0 10px;
  }
  // header
  #header{
    height: 53px;
    .logo{
      img{
        width: 84%;
      }
    }
    .sign{
      a.button_menu_mobile{
        margin-left: 7px;
        i{
          padding: 0 5px;
        }
      }
    }
    .header_right{
      position: relative;
      .menu_mobile{
        position: absolute;
        background : #33445c;
        top: 184%;
        width: 200px;
        z-index: 1;
        li{
          padding: 7px;
          
          a{
            text-decoration: none;
            padding: 4px 0;
            color: $colorWhite;
            display: block;
          }
          ul li{
            padding-top: 6px;
          }
        }
      }
    }
    
  }
  // end header
  // banner
  #banner{
    .filter{
      flex-direction: column!important;
      .col_1,.col_2,.col_3{
        width: 100%;
        margin-bottom: 3%;
      }
      .btn_find_job{
        width: 99%;
      }
    }
    .banner_content{
      p.banner_des{
        padding: 20px 0;
      }
    }
  }
  // end banner
  #feed{
    .news{
        .col-lg-6{
          width: 100%;
          padding-right: 0;
        }
    }
    .right{
      padding: 10px 0;
    }
  }
  // job category
  #job_categories{
    margin-top: 15%;
    .col_1,.col_2,.col_3{
      width: 100%;
      margin-bottom: 5%;
      height: auto;
    }
    .list_job{
      .one_job:nth-child(1n){
        padding-right: 0;
      }
    } 
  }
  // end job
  // feature
  #feature{
    .feature_one{
      margin: 0;
    }
    .wrap_content{
      padding: 0 10px;
    }
  }
  // feed
  #feed{
    .news{
      .content_news{
        flex-direction: column;
      }
    }
  }
  // employment
  #employment{
    .col-12{
      margin-bottom: 3%;
    }
  }
  // we work
  #we_work{
    height: auto;
  }
  // end we work
  // Footer
  #footer{
    .footer_above{
      .col-12{
        margin-bottom: 10%;
      }
    }
    .frequently_question{
      text-align: center;
      ul{
        li{
          padding: 5px 0;
        }
      }
    }
    .line-hozi::after{
      left: 41%;
    }
  }
}
// Table screen
@media (min-width: 576px) and (max-width: 991px) {
  
  .wrap_content{
    padding: 0 10px;
  }
  // header
  #header{
    height: 53px;
    .logo{
      img{
        width: 84%;
      }
    }
    .sign{
      a.button_menu_mobile{
        margin-left: 7px;
        i{
          padding: 0 5px;
        }
      }
    }
    .header_right{
      position: relative;
      .menu_mobile{
        position: absolute;
        background : #33445c;
        top: 184%;
        width: 200px;
        z-index: 1;
        li{
          padding: 7px;
          
          a{
            text-decoration: none;
            padding: 4px 0;
            color: $colorWhite;
            display: block;
          }
          ul li{
            padding-top: 6px;
          }
        }
      }
    }
    
  }
  // end header
  // banner
  #banner{
    .filter{
      flex-direction: column!important;
      
      .col_1,.col_2,.col_3{
        width: 100%;
        margin-bottom: 3%;
        input{
          padding-left: 7%;
        }
      }
      .col_3{
        input{
          padding-left: 10px;
        }
      }
      .col_3::after{
        right: 3%;
      }
      .btn_find_job{
        width: 99%;
      }
    }
    .banner_content{
      p.banner_des{
        padding: 20px 0;
      }
    }
  }
  // end banner
  #feed{
    .news{
        .col-lg-6{
          width: 100%;
          margin: 0;
          padding-right: 0;
        }
    }
    .right{
      padding: 10px 0;
    }
  }
  // job category
  #job_categories{
    margin-top: 15%;
    .col_1,.col_2,.col_3{
      width: 100%;
      margin-bottom: 5%;
    }
    .list_job{
   
      .one_job:nth-child(2n){
        padding-right: 0;
      }
    } 
  }
  // end job
  // feature
  #feature{
    .wrap_content{
      padding: 0 10px;
    }
    .feature_one{
      margin-right: 20px;
    }
  }
  // employment
  #employment{
    .col-12{
      margin-bottom: 3%;
    }
  }
  // we work
  #we_work{
    height: auto;
  }
  // end we work
  // Footer
  #footer{
    .footer_above{
      .col-12{
        margin-bottom: 10%;
      }
    }
    .frequently_question{
      text-align: center;
      ul{
        li{
          padding: 5px 0;
        }
      }
    }
    .line-hozi::after{
      left: 45%;
    }
  }
}
@media (min-width: 992px){
  .button_menu_mobile{
    display: none;
  }
}
